<%- include('../includes/head.ejs') %>
<!-- tambah css (Option) -->
</head>
<body>
<%- include('../includes/nav.ejs') %>
<div class="col-md-10 mb-5 p-5 pt-2">
    <br>
    <br>
    <br>
    <br>

    <h1 class="h1">Ukuran <%= produk.namaCustomer %>  <i class="bi bi-clipboard-data text-center"></i></h1>
    
    <hr class="bg-secondary">
    <br>
    <br>
    <br>
    <div class="row text-center justify-content-center">
        <h1>baju</h1>

    </div>
    

</div>
<!-- ! penutupup div yang bawah jangan diganti atau di hapus punya row nav -->
</div> 


<%- include('../includes/navFixed.ejs') %>


<%- include('../includes/end.ejs') %>